<h2>Customers</h2>

<input
  type="text"
  placeholder="Search by name or card"
  [(ngModel)]="search"
  (keyup)="onSearch()"
/>

<table border="1" width="100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Joined Date</th>
  </tr>

  <tr *ngFor="let c of customers">
    <td>{{ c.id }}</td>
    <td>{{ c.name }}</td>
    <td>{{ c.joinedDate }}</td>
  </tr>
</table>

<div style="margin-top: 10px">
  <button (click)="previous()" [disabled]="page === 0">
    Previous
  </button>

  Page {{ page + 1 }} of {{ totalPages }}

  <button (click)="next()" [disabled]="page + 1 >= totalPages">
    Next
  </button>
</div>
